<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
namespace= "org.sunw.self.admin.user.user.mapper.ManageUserMapper">
	<insert id="insert">
		<selectKey order="AFTER" resultType="int">
		SELECT LAST_INSERT_ID()
		</selectKey>
	INSERT INTO MEM
	(
	MEM_NAME, 
	PHONE,
	KAKAO_AUTHORIZATION_KEY, 
	PW,
    MEM_STATUS, 
    JOIN_DATE, 
    AMOUNT_CHARGE, 
    POINT, 
    DATE_OF_USE
    )
	VALUES
	(
	#{memName}, 
	#{phone},
	#{kakaoAuthorizationKey}, 
	#{pw},
    #{memStatus}, 
    now(),
    #{amountCharge}, 
    #{point}, 
    now()
	) 
	
	</insert>
	
	<select id="getAllUserList" 
	resultType="org.sunw.self.admin.user.user.domain.ManageUserVO"
	parameterType="org.sunw.self.admin.user.user.domain.ManageUserDTO">
	SELECT MEM_ID, 
		MEM_NAME, 
		PHONE, 
		KAKAO_AUTHORIZATION_KEY, 
		PW, 
		MEM_STATUS, 
		JOIN_DATE, 
		AMOUNT_CHARGE,
		POINT, 
		DATE_OF_USE
	FROM MEM
	<if test='memName != null and memName != "" '>
		WHERE MEM_NAME LIKE CONCAT('%',#{memName},'%')
		</if>
	ORDER BY MEM_ID DESC
	LIMIT #{skip},
		#{perSheet}
	</select>
	
	<select id="getUserListCnt" resultType="int">
	SELECT COUNT(*)
	FROM MEM
	</select>
	
	<select id="getOneUser"
	resultType="org.sunw.self.admin.user.user.domain.ManageUserVO">
	SELECT MEM_ID, 
		MEM_NAME, 
		PHONE, 
		KAKAO_AUTHORIZATION_KEY, 
		PW, 
		MEM_STATUS, 
		JOIN_DATE, 
		AMOUNT_CHARGE,
		POINT, 
		DATE_OF_USE
	FROM MEM
	WHERE MEM_ID=#{memId}
	</select>
	
	<select id="getUserCnt">
	SELECT COUNT(*) FROM MEM
	</select>
	
	<update id="update">
		UPDATE self_wash.mem
		SET 
		MEM_NAME				= #{memName},					
		PHONE					= #{phone},					
		KAKAO_AUTHORIZATION_KEY	= #{kakaoAuthorizationKey},	
		PW						= #{pw},						
		MEM_STATUS				= #{memStatus},				
		JOIN_DATE				= now(),		
		AMOUNT_CHARGE			= #{amountCharge},			
		POINT					= #{point},					
		DATE_OF_USE				= now()				
		WHERE MEM_ID			= #{memId}			

	</update>
	
	<delete id="delete">
	DELETE FROM MEM WHERE MEM_ID = #{memId}
	</delete>
	
</mapper>  

