<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.sunw.self.client.common.login.mapper.LoginMapper">

	<select id="getLoginInfo"
		resultType="org.sunw.self.client.common.login.domain.LoginVO">
		SELECT MEM_ID, 
			PW, 
			MEM_NAME, 
			PHONE,
			KAKAO_AUTHORIZATION_KEY
		FROM MEM
		WHERE PHONE =#{phone}
		AND PW=#{pw}
	</select>
	
</mapper>