<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
namespace="org.sunw.self.admin.customer.washmenu.mapper.WashMenuMapper">
	<insert id="insert">
	<selectKey order="AFTER" resultType="int">
		SELECT LAST_INSERT_ID()
		</selectKey>
	INSERT INTO SELF_WASH.WASH_MENU
	(
	MENU_PRICE, 
	EQUIPMENT_MODEL_ID, 
	MENU_NAME, 
	DETERGENT_USE_AT
	)
	VALUES
	(
	#{menuPrice}, 
	#{equipmentModelId}, 
	#{menuName}, 
	#{detergentUseAt}
	)
	</insert>
	
	<select id="getAllWashMenuList"
	resultType="org.sunw.self.admin.customer.washmenu.domain.WashMenuVO">
	SELECT WASH_MENU_ID, 
		MENU_PRICE, 
		EQUIPMENT_MODEL_ID, 
		MENU_NAME, 
		DETERGENT_USE_AT
	FROM SELF_WASH.WASH_MENU
	ORDER BY WASH_MENU_ID DESC
		LIMIT #{skip} ,
				#{perSheet}
	</select>
	
	<select id="getWashMenuCnt" resultType="int">
	SELECT COUNT(*)
	FROM SELF_WASH.WASH_MENU
	</select>
	
	<select id="getOneWashMenu"
	resultType="org.sunw.self.admin.customer.washmenu.domain.WashMenuVO">
	SELECT 
		A.WASH_MENU_ID,
		A.MENU_PRICE, 
		A.EQUIPMENT_MODEL_ID, 
		A.MENU_NAME, 
		A.DETERGENT_USE_AT,
		B.EQUIPMENT_NAME
	FROM SELF_WASH.WASH_MENU A,EQUIPMENT_MODEL B
	WHERE A.EQUIPMENT_MODEL_ID = B.EQUIPMENT_MODEL_ID
	AND WASH_MENU_ID = #{washMenuId} 
	</select>
	
	<select id="getEquipmentModelList"
	resultType="org.sunw.self.admin.equipment.model.domain.EquipmentModelVO">
	SELECT 
		EQUIPMENT_MODEL_ID, 
		EQUIPMENT_NAME, 
		MANUFACTURING_COMPANY, 
		MANUFACTURER_NUMBER, 
		CATEGORY_ID, 
		REPAIRER, 
		REPAIRER_NUMBER, 
		EXPOSURE_YES_NO, 
		EQUIPMENT_PHOTO, 
		EQUIPMENT_SPEC
	FROM SELF_WASH.EQUIPMENT_MODEL
	
	</select>
	
	<select id="getWashMenuStatusCnt">
	SELECT COUNT(*) FROM SELF_WASH.WASH_MENU
	</select>
	
	<update id="update">
	UPDATE self_wash.wash_menu
	SET 
	MENU_PRICE				=#{menuPrice}, 
	EQUIPMENT_MODEL_ID		=#{equipmentModelId}, 
	MENU_NAME				=#{menuName}, 
	DETERGENT_USE_AT		=#{detergentUseAt}
	WHERE WASH_MENU_ID		=#{washMenuId}
	</update>
	
	<delete id="delete">
	DELETE FROM SELF_WASH.WASH_MENU WHERE WASH_MENU_ID = #{washMenuId}
	</delete>
	
</mapper>