<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper 
namespace= "org.sunw.self.client.common.reservation.mapper.ReservationMapper">
	<select id="getOneStoreInfo"
	resultType="org.sunw.self.client.common.reservation.domain.StoreInfoVO">
	SELECT S_ID, 
		S_NAME, 
		S_LOCATION, 
		MANAGER, 
		ATTEMPT_CLASSIFICATION, 
		CITY_COUNTY_CLASSIFICATION, 
		BUSINESS_NUMBER, 
		MANAGER_RESIDENT_NUMBER, 
		POST_CODE,
		STORE_WIDTH,
		STORE_HEIGHT
	FROM SELF_WASH.STORE
	WHERE S_ID=#{sId}
	</select>
	
	<select id="getStoreEquipmentPlacementList"
		resultType="org.sunw.self.client.common.reservation.domain.EquipmentManageVO">
	SELECT A.EQUIPMENT_CODE, 
		A.TPTB, 
		A.EQUIPMENT_STATUS, 
		A.EQUIPMENT_MODEL_ID, 
		(SELECT EQUIPMENT_NAME FROM EQUIPMENT_MODEL B  WHERE A.EQUIPMENT_MODEL_ID = B.EQUIPMENT_MODEL_ID) EQUIPMENT_NAME,
		A.REGULAR_INSPECTION, 
		A.REGULAR_INSPECTION_DATE, 
		A.PURCHASE_PRICE, 
		(SELECT EQUIPMENT_TYPE FROM EQUIPMENT_MODEL B  WHERE A.EQUIPMENT_MODEL_ID = B.EQUIPMENT_MODEL_ID) EQUIPMENT_TYPE,
		A.PURCHASE_DATETIME,
		A.S_ID,
		(SELECT S_NAME FROM STORE B WHERE A.S_ID = B.S_ID) S_NAME,
		C.STORE_EQUIPMENT_ID, 
		C.S_ID, 
		C.EQUIPMENT_CODE, 
		C.X_COORD, 
		C.Y_COORD,
		(
			SELECT TIMESTAMPDIFF(SECOND, NOW(), DATE_ADD(ORDER_DATE, INTERVAL TIME MINUTE)) REMAINING_TIME 
			FROM  `ORDER` D, ORDER_MENU E, WASH_MENU F 
			WHERE 
				D.ORDER_ID = E.ORDER_ID 
				AND E.WASH_MENU_ID = F.WASH_MENU_ID 
				AND E.EQUIPMENT_CODE = A.EQUIPMENT_CODE
				AND TIMESTAMPDIFF(SECOND, NOW(), DATE_ADD(ORDER_DATE, INTERVAL TIME MINUTE)) > 0
				AND D.ORDER_STATUS = 'finish'
		) REMAINING_TIME
	FROM EQUIPMENT A, STORE_EQUIPMENT_PLACEMENT C
	WHERE A.S_ID = #{sId}
		AND A.EQUIPMENT_CODE = C.EQUIPMENT_CODE
	ORDER BY A.EQUIPMENT_CODE DESC
	</select>
	
	<select id="getListWashMenu" 
		resultType="org.sunw.self.client.common.reservation.domain.WashMenuVO">
		SELECT WASH_MENU_ID, 
			MENU_PRICE, 
			MENU_NAME, 
			RINSING_CNT, 
			WEIGHT, 
			DEHYDRATION_CNT, 
			A.CATEGORY_ID, 
			WATER_TYPE, 
			`TIME`, 
			MENU_DESC,
			EQUIPMENT_TYPE
	FROM SELF_WASH.WASH_MENU A, CATEGORY B
	WHERE A.CATEGORY_ID = B.CATEGORY_ID
	AND B.MIDDLE_CATEGORY =#{middleCategory}
	AND B.LARGE_CATEGORY = #{largeCategory}
	</select>
	<select id="getListCategory"
		resultType="org.sunw.self.client.common.reservation.domain.CategoryVO">
		SELECT 
			DISTINCT LARGE_CATEGORY
			, LARGE_CATEGORY_NAME
			, MIDDLE_CATEGORY
			, MIDDLE_CATEGORY_NAME
		FROM CATEGORY
		WHERE LARGE_CATEGORY = #{largeCategory}
	</select>	
	
	<select id="getWashMenu" 
		resultType="org.sunw.self.client.common.reservation.domain.WashMenuVO">
		SELECT WASH_MENU_ID, 
			MENU_PRICE, 
			MENU_NAME, 
			RINSING_CNT, 
			WEIGHT, 
			DEHYDRATION_CNT, 
			A.CATEGORY_ID, 
			WATER_TYPE, 
			`TIME`, 
			MENU_DESC,
			EQUIPMENT_TYPE
	FROM SELF_WASH.WASH_MENU A, CATEGORY B
	WHERE A.CATEGORY_ID = B.CATEGORY_ID
	AND A.WASH_MENU_ID = #{washMenuId}
	</select>
	
	<select id="getListEquipment" 
		resultType="org.sunw.self.client.common.reservation.domain.EquipmentManageVO">
	SELECT A.EQUIPMENT_CODE, 
		A.TPTB, 
		A.EQUIPMENT_STATUS, 
		A.EQUIPMENT_MODEL_ID, 
		B.EQUIPMENT_NAME,
		B.EQUIPMENT_TYPE,
		B.EQUIPMENT_PHOTO,
		S_ID,
		(SELECT S_NAME FROM STORE B WHERE A.S_ID = B.S_ID) S_NAME
	FROM EQUIPMENT A, EQUIPMENT_MODEL B, WASH_MENU_EQUIPMENT_MAPPING C 
	WHERE A.EQUIPMENT_MODEL_ID = B.EQUIPMENT_MODEL_ID
	AND B.EQUIPMENT_MODEL_ID = C.EQUIPMENT_MODEL_ID 
	AND C.WASH_MENU_ID = #{washMenuId}
	AND A.S_ID = #{sId}
	ORDER BY EQUIPMENT_CODE DESC
	</select>
	
	<select id="getEquipment" 
		resultType="org.sunw.self.client.common.reservation.domain.EquipmentManageVO">
	SELECT A.EQUIPMENT_CODE, 
		A.TPTB, 
		A.EQUIPMENT_STATUS, 
		A.EQUIPMENT_MODEL_ID, 
		B.EQUIPMENT_NAME,
		B.EQUIPMENT_TYPE,
		B.EQUIPMENT_PHOTO,
		S_ID,
		(SELECT S_NAME FROM STORE B WHERE A.S_ID = B.S_ID) S_NAME
	FROM EQUIPMENT A, EQUIPMENT_MODEL B
	WHERE A.EQUIPMENT_MODEL_ID = B.EQUIPMENT_MODEL_ID
	AND EQUIPMENT_CODE = #{equipmentCode}
	ORDER BY EQUIPMENT_CODE DESC
	</select>
	
	<insert id="insertOrder">
		<selectKey order="AFTER" resultType="String"  keyColumn="ORDER_ID" keyProperty="orderId" >
		SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO `ORDER`
		(
			ORDER_DATE
			, ORDERER
			, RECIPIENT_PHONE
			, TOTAL_PAYMENT
			, METHOD_OF_PAYMENT
			, ORDER_STATUS
			, ACCUMULATE_POINT
		)
		VALUES
		(
			now()
			, #{orderer}
			, #{recipientPhone}
			, #{totalPayment}
			, #{methodOfPayment}
			, #{orderStatus}
			, #{accumulatePoint}
		)
	</insert>
	<insert id="insertOrderMenu">
	INSERT INTO ORDER_MENU
		(
			ORDER_MENU_NAME
			, PRICE
			, AMOUNT
			, WASH_MENU_ID
			, MEM_ID
			, ORDER_ID
			, EQUIPMENT_CODE
		)
		VALUES
		(
			#{orderMenuName}
			, #{price}
			, #{amount}
			, #{washMenuId}
			, #{memId}
			, #{orderId}
			, #{equipmentCode}
		)
	</insert>
	
</mapper>  

