<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.sunw.self.admin.user.manager.mapper.ManageManagerMapper">
	<insert id="insert">
		<selectKey order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO SELF_WASH.MGR
		(
		PW,
		MGR_NAME,
		AUTHOR_LEVEL,
		PHONE,
		EMAIL,
		APPROVAL_STATUS,
		S_ID
		)
		VALUES
		(
		#{pw},
		#{mgrName},
		#{authorLevel},
		#{phone},
		#{email},
		#{approvalStatus},
		#{sId}
		)
	</insert>

	<select id="getAllManagerList"
		resultType="org.sunw.self.admin.user.manager.domain.ManageManagerVO">
		SELECT MGR_ID, 
			PW, 
			MGR_NAME, 
			AUTHOR_LEVEL, 
			PHONE, 
			EMAIL, 
			APPROVAL_STATUS, 
			S_ID
		FROM MGR
		<if test='mgrName != null and mgrName != "" '>
		WHERE MGR_NAME LIKE CONCAT('%',#{mgrName},'%')
		</if>
		ORDER BY MGR_ID DESC
		LIMIT #{skip} ,
		#{perSheet}
		
	</select>

	<select id="getManagerListCnt" resultType="int">
		SELECT COUNT(*)
		FROM MGR
	</select>

	<select id="getOneManager"
	resultType="org.sunw.self.admin.user.manager.domain.ManageManagerVO">
		SELECT 
			A.MGR_ID, 
			A.PW, 
			A.MGR_NAME, 
			A.AUTHOR_LEVEL, 
			A.PHONE, 
			A.EMAIL, 
			A.APPROVAL_STATUS, 
			A.S_ID,
			B.S_NAME 
		FROM MGR A, STORE B 
		WHERE A.S_ID = B.S_ID 
		AND MGR_ID = #{mgrId}
	</select>
	
	<select id="getStoreList"
	resultType="org.sunw.self.admin.infomation.store.domain.StoreInfoVO">
	SELECT 
		S_ID, 
		S_NAME, 
		S_LOCATION, 
		MANAGER, 
		ATTEMPT_CLASSIFICATION, 
		CITY_COUNTY_CLASSIFICATION, 
		BUSINESS_NUMBER, 
		MANAGER_RESIDENT_NUMBER, 
		POST_CODE
	FROM SELF_WASH.STORE
	</select>


	<update id="update">
		UPDATE MGR
		SET 
		PW				= #{pw},			
		MGR_NAME		= #{mgrName},		
		AUTHOR_LEVEL	= #{authorLevel},	
		PHONE			= #{phone},			
		EMAIL			= #{email},			
		APPROVAL_STATUS	= #{approvalStatus},	
		S_ID			= #{sId}			
		WHERE MGR_ID	= #{mgrId}
	</update>

	<delete id="delete">
		DELETE FROM MGR WHERE MGR_ID = #{mgrId}
	</delete>
	
	<select id="phoneCheck" resultType="int">
	SELECT COUNT(*) FROM MGR
	WHERE PHONE =#{phone}
	</select>
	
	
	
</mapper>