<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.sunw.self.client.common.main.mapper.MainMapper">

	<select id="getSearchStore"
		resultType="org.sunw.self.client.common.main.domain.StoreInfoVO">
		SELECT
			S_ID,
			S_NAME,
			S_LOCATION,
			MANAGER,
			ATTEMPT_CLASSIFICATION,
			CITY_COUNTY_CLASSIFICATION,
			BUSINESS_NUMBER,
			MANAGER_RESIDENT_NUMBER,
			POST_CODE
		FROM STORE 
		WHERE S_LOCATION LIKE CONCAT('%',#{searchStore},'%') OR S_NAME LIKE CONCAT('%',#{searchStore},'%')
	</select>
	
</mapper>